automation/main-workflow-updated.json
[
  {
    "id": "6dn50NlGFPhiSADx",
    "name": "Import Factures via Email",
    "active": true,
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "simple": false,
          "filters": {
            "includeSpamTrash": false,
            "q": "is:unread"
          },
          "options": {
            "downloadAttachments": true,
            "markAsRead": true
          }
        },
        "id": "node1",
        "name": "Gmail Trigger",
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.3,
        "position": [
          240,
          304
        ],
        "credentials": {
          "gmailOAuth2": {
            "id": "AUcQb13ek6zi1CQS",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{Object.keys($binary).some(k => k.startsWith('attachment_'))}}",
                "value2": true
              }
            ]
          }
        },
        "id": "node2",
        "name": "A un PDF ?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          464,
          304
        ]
      },
      {
        "parameters": {
          "prompt": "=Tu es un assistant comptable. Analyse cet email et ses métadonnées pour extraire les informations de facturation au format JSON strict.\n\nContenu de l'email : {{$node[\"Gmail Trigger\"].json[\"snippet\"]}}\n\nSujet : {{$node[\"Gmail Trigger\"].json[\"subject\"]}}\n\nDate : {{$node[\"Gmail Trigger\"].json[\"date\"]}}\n\nExpéditeur : {{$node[\"Gmail Trigger\"].json[\"from\"]}}\n\n------- \n\nSORTIE JSON ATTENDUE (Uniquement le JSON, pas de markdown) :\n\n{\n  \"company_handle\": \"@urban.hit\",\n  \"supplier_name\": \"...\",\n  \"amount_ttc\": 0.00,\n  \"amount_ht\": 0.00,\n  \"reference\": \"...\",\n  \"issued_date\": \"YYYY-MM-DD\",\n  \"due_date\": \"YYYY-MM-DD\"\n}\n\nNote : Si le fournisseur est inconnu, utilise le nom de l'expéditeur. Si la date d'échéance (due_date) n'est pas claire, utilise la date d'émission.",
          "options": {},
          "requestOptions": {}
        },
        "id": "node3",
        "name": "Extraire Données (OpenAI)",
        "type": "n8n-nodes-base.openAi",
        "typeVersion": 1,
        "position": [
          688,
          224
        ],
        "credentials": {
          "openAiApi": {
            "id": "eHYKX6ORTDabHUL7",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://dashboard.urban-hit.fr/api/automation/invoice",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-automation-key",
                "value": "yK3W9d7xzqrEMdKgEsw9166tvL4417F6DPmb1CRnB+w="
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "company_handle",
                "value": "urbanhit"
              },
              {
                "name": "supplier_name",
                "value": "={{JSON.parse($node[\"Extraire Données (OpenAI)\"].json[\"message\"][\"content\"]).supplier_name}}"
              },
              {
                "name": "amount_ttc",
                "value": "={{JSON.parse($node[\"Extraire Données (OpenAI)\"].json[\"message\"][\"content\"]).amount_ttc}}"
              },
              {
                "name": "amount_ht",
                "value": "={{JSON.parse($node[\"Extraire Données (OpenAI)\"].json[\"message\"][\"content\"]).amount_ht}}"
              },
              {
                "name": "reference",
                "value": "={{JSON.parse($node[\"Extraire Données (OpenAI)\"].json[\"message\"][\"content\"]).reference}}"
              },
              {
                "name": "issued_date",
                "value": "={{JSON.parse($node[\"Extraire Données (OpenAI)\"].json[\"message\"][\"content\"]).issued_date}}"
              },
              {
                "name": "due_date",
                "value": "={{JSON.parse($node[\"Extraire Données (OpenAI)\"].json[\"message\"][\"content\"]).due_date}}"
              },
              {
                "name": "pdf_base64",
                "value": "={{$node[\"Gmail Trigger\"].binary.attachment_0.data}}"
              }
            ]
          },
          "options": {}
        },
        "id": "node4",
        "name": "Envoyer vers Dashboard",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          912,
          224
        ]
      }
    ],
    "connections": {
      "Gmail Trigger": {
        "main": [
          [
            {
              "node": "A un PDF ?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "A un PDF ?": {
        "main": [
          [
            {
              "node": "Extraire Données (OpenAI)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extraire Données (OpenAI)": {
        "main": [
          [
            {
              "node": "Envoyer vers Dashboard",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    }
  }
]
